@font-face {
    font-family: sniglet;
    src: url(../../forgebound/sniglet.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #ffefce;
}

h1{
    color: #f76b4c;
    font-family: "sniglet";
    font-size: 5em;
}

p{
    color: #3d3334;
    font-family: "sniglet";
    font-size: 2em;

}